<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>oEmbedTest</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </head>
        <style>
            #request_container {
                width: 1000px;
                border-radius: 4px;
                margin-left: auto;
                margin-right: auto;
            }

            #response_container {
                width: 1000px;
                margin-left: auto;
                margin-right: auto;
            }

            #response_container .col {
                padding-top: 5px;
                padding-bottom: 5px;
            }
            #response_container .row {
                width: 1000px;
                margin-left: auto;
                margin-right: auto;
                border: 1px solid rgb(206, 212, 218);

            }

        </style>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">oEmbedTest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div id="request_container">
                <div class="text-center mt-5">
                    <h1>oEmbed test application</h1>
                    <div class="input-group">
                        <input type="text" id="input_url" class="form-control" placeholder="url을 입력하세요" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button id="btn_send" class="btn btn-primary" type="button">  확인  </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="response_container" class="mt-5 mb-5">
            </div>
        </div>



        <script>
            document.getElementById('btn_send').addEventListener('click', function() {
                parsingOembed();
            });


            function parsingOembed() {
                let param = {};
                param.url = document.getElementById('input_url').value
                $.ajax({
                    url: '/oembed/parsingOembed',
                    data: param,
                    success: function (data) {
                        console.log(data);
                        if(data.oembed.errorMsg == null) {
                            parsingOembedCallback(data.oembed);
                        } else {
                            alert(data.oembed.errorMsg)
                        }

                    },
                    error:function (err) {
                        console.log(err);
                        alert(err.responseText);
                    }
                });
            }

            function parsingOembedCallback(oembed) {
                let render = document.getElementById('response_container');
                let data = "";
                if(oembed.title != null){
                    data = "<div class='row'><div class='col'>title</div><div class='col'>" + oembed.title + "</div></div>";
                }
                if(oembed.type != null)
                    data += "<div class='row'><div class='col'>type</div><div class='col'>" + oembed.type + "</div></div>";
                if(oembed.version != null)
                    data += "<div class='row'><div class='col'>version</div><div class='col'>" + oembed.version + "</div></div>";
                if(oembed.provider_name != null)
                    data += "<div class='row'><div class='col'>provider_name</div><div class='col'>" + oembed.provider_name + "</div></div>";
                if(oembed.provider_url != null)
                    data += "<div class='row'><div class='col'>provider_url</div><div class='col'><a href='" + oembed.provider_url + "'>" + oembed.provider_url + "</a></div></div>";
                if(oembed.author_name != null)
                    data += "<div class='row'><div class='col'>author_name</div><div class='col'>" + oembed.author_name + "</div></div>";
                if(oembed.author_url != null)
                    data += "<div class='row'><div class='col'>author_url</div><div class='col'><a href='" + oembed.author_url + "'>" + oembed.author_url + "</a></div></div>";
                if(oembed.is_plus != null)
                    data += "<div class='row'><div class='col'>is_plus</div><div class='col'>" + oembed.is_plus + "</div></div>";
                if(oembed.html != null)
                    data +=  "<div class='row'><div class='col'>html</div><div class='col'>" + oembed.html + "</div></div>";
                if(oembed.width != null)
                    data += "<div class='row'><div class='col'>width</div><div class='col'>" + oembed.width + "</div></div>";
                if(oembed.height != null)
                    data +=  "<div class='row'><div class='col'>height</div><div class='col'>" + oembed.height + "</div></div>";
                if(oembed.duration != null)
                    data +=  "<div class='row'><div class='col'>duration</div><div class='col'>" + oembed.duration + "</div></div>";
                if(oembed.description != null)
                    data +=  "<div class='row'><div class='col'>description</div><div class='col'>" + oembed.description + "</div></div>";
                if(oembed.thumbnail_url != null)
                    data +=  "<div class='row'><div class='col'>thumbnail_url</div><div class='col'><a href='"
                        +oembed.thumbnail_url+"'>" + oembed.thumbnail_url + "</a><img src='"+oembed.thumbnail_url+"'/></div>";
                if(oembed.thumbnail_width != null)
                    data +=  "<div class='row'><div class='col'>thumbnail_width</div><div class='col'>" + oembed.thumbnail_width + "</div></div>";
                if(oembed.thumbnail_height != null)
                    data +=  "<div class='row'><div class='col'>thumbnail_height</div><div class='col'>" + oembed.thumbnail_height + "</div></div>";
                if(oembed.thumbnail_url_with_play_button != null)
                    data +=  "<div class='row'><div class='col'>thumbnail_url_with_play_button</div><div class='col'>" + oembed.thumbnail_url_with_play_button + "</div></div>";
                if(oembed.upload_data != null)
                    data +=  "<div class='row'><div class='col'>upload_data</div><div class='col'>" + oembed.upload_data + "</div></div>";
                if(oembed.video_id != null)
                    data +=  "<div class='row'><div class='col'>video_id</div><div class='col'>" + oembed.video_id + "</div></div>";
                if(oembed.uri != null)
                    data +=  "<div class='row'><div class='col'>uri</div><div class='col'>" + oembed.uri + "</div></div>";
                if(oembed.cache_age != null)
                    data +=  "<div class='row'><div class='col'>cache_age</div><div class='col'>" + oembed.cache_age + "</div></div>";

                render.innerHTML = data;

            }


        </script>
    </body>
</html>
